
* {
	margin: 0;
	padding: 0;
}
/*text left*/
a {
	text-decoration: underline;
	color: #000080;
}

a:hover {
	text-decoration: none;
       }

body {
	font-size: 16pt;
	line-height: 1.2em;
	font-family: Arial, sans-serif;
	background: #dddddd;
	color: #656565;
        }

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
        }

h2,h3,h4 {
	margin-bottom: 1.3em;
	font-family: Arvo, serif;
	color: #00008B;
        } /*bottom titles*/

strong {
	color: #00008B;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.25em;
}

ul {
	margin-bottom: 1.25em;
}

.date {
	background: #A9A9A9; /*left block*/
	color:#00008B ;
	font-size: 0.75em;
	padding: 2px;
	display: inline-block;
	width: 45px;
	text-align: center;
	margin-right: 1em;
}

.imageList  {
	list-style: none;
        
}

.imageList li {
	clear: both;
}

.box {
	margin: 0 0 30px 0;
	overflow: hidden;
}

#bg1 {
	position: absolute;
	left: 0;
        top: 0;
	width: 100%;
	height: 542px;
	background: #ccc;
	z-index: 1;
	box-shadow: inset 0px 280px 60px 0px rgba(0,0,0,0.3);
}

#bg2 {
	position: absolute;
	left: 0;
        top: 0;
	width: 100%;
	height: 243px;
	background: #48D1CC;
	z-index: 2;
	box-shadow: inset 0px 10px 60px 0px rgba(0.5,0,0,0.7);
}/*the highest box*/

#banner {
	position: relative;
        width: 100%;
	height: 250px;
        
}

#banner .captions {
	position: absolute;
	right: 0;
	top: 124px;
	text-shadow: 2px 2px 0px rgba(0,0,0,1.0);
        }

#banner .captions h2 {
	background: rgba(0,0,0,0.5);
	color: #008080;
	padding: 25px;
	margin: 0;
}

#banner .captions h3 {
        background: rgba(10,127,153,0.8);
        color: #ffffff;
        padding: 28px;
        margin: 0;
}
 .imagestyle {
        width: 100%;
        height: 200px;
}

#content {
	width:100%;
        margin: 0 0 0 0;
	padding: 0;
}

#copyright {
	padding: 30px 0 25px 0;
	text-align: center;
	color: #00008B;
}

#copyright a {
	color: #777777;
}

#header {
	position: relative;
	padding: 28px;
	height: 115px;
	background: #20B2AA;
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        text-align: center;
	box-shadow: inset 0px -40px 60px 0px #005B6D;
	border-bottom: solid 1px #003B47;
}

#logo {
	position: absolute;
	bottom: 0;
	left: 28px;
	height: 138px;
	line-height: 138px;
       }

#logo a {
	text-decoration: none;
	color: #ffffff;            
}

#logo h1 {
	font-size: 2.15em;
	font-family: Arvo, serif;       
}

#main {
	position: relative;
	padding: 60px 28px 0px 28px;
        width: 100%;     
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: solid 1px #d1d1d1;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 0 0;
	width: 100%;
     	height: 60px;
	line-height: 48px;
	margin: 0 0 28 px 0;
	background: #007289;
	font-size: 1.2em;
	border-bottom: solid 1px #009FBF;
	border-top: solid 1px #1098B3;
	box-shadow: inset 0px -10px 40px 0px #005B6D;
}

#nav a {
	text-decoration: none;
	text-transform: none;
	color: #ffffff;
      }

#nav ul {
	list-style: none;
}

#nav ul li {
	display: inline;
	padding: 0 12px 0 12px;
}

#nav ul li.first {
	padding-left: 0;
}

#outer {
	position: relative;
	z-index: 3;
        width: 100%; 
	margin: 60px auto 0 auto;
	background: #F0F8FF; /*main block*/
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}

#search {
	position: absolute;
	bottom: 0;
	right: 28px;
	height: 138px;
	line-height: 138px;
}

#search input.text {
	padding: 10px 40px 10px 10px;
	background: #ffffff url(images_1/search.png) top right no-repeat;
	border: 0;
	width: 250px;
	color: #777;
}

#sidebar {
	width: 300px;
	float: left;
	padding: 0;
}